<footer class=" text-center text-white pt-3">

	<div class="row">

		<a class="footer-brand" href="{{ path('home') }}">
			<b>The Swanky Sack</b>
		</a>
		<ul class="navbar-nav  mb-2 mb-lg-0">
			<li class="nav-item">
				<a class="nav-link" href="{{ path('products') }}">
					<i class="fa-solid fa-bag-shopping"></i>
					Sacs</a>
				<!-- Lien vers la page des sacs -->
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('about') }}">Qui sommes-nous ?</a>
				<!-- Lien vers la page "Qui sommes-nous ?" -->
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('contacts') }}">Contacts</a>
				<!-- Lien vers la page des contacts -->
			</li>
			<li class="nav-item">
				<a class="nav-link" href="{{ path('faq') }}">FAQs</a>
				<!-- Lien vers la page des FAQ -->
			</li>
		</ul>
		<!-- Grid container -->
		<div
			class="container p-4 pb-0">
			<!-- Section: Social media -->
			<div
				class="mb-4">
				<!-- Facebook -->
				<a class="btn text-white btn-floating m-1" style="background-color: #3b5998;" href="#!" role="button">
					<i class="fab fa-facebook-f"></i>
				</a>

				<!-- Twitter -->
				<a class="btn text-white btn-floating m-1" style="background-color: #55acee;" href="#!" role="button">
					<i class="fab fa-twitter"></i>
				</a>

				<!-- Google -->
				<a class="btn text-white btn-floating m-1" style="background-color: #dd4b39;" href="#!" role="button">
					<i class="fab fa-google"></i>
				</a>

				<!-- Instagram -->
				<a class="btn text-white btn-floating m-1" style="background-color: #ac2bac;" href="#!" role="button">
					<i class="fab fa-instagram"></i>
				</a>

				<!-- Linkedin -->
				<a class="btn text-white btn-floating m-1" style="background-color: #0082ca;" href="#!" role="button">
					<i class="fab fa-linkedin-in"></i>
				</a>

			</div>
			<!-- Section: Social media -->
		</div>
		<!-- Grid container -->

		<!-- Copyright -->
		<div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
			© 2022-2023 Copyright:

			<a class="text-white" href="https://theswankysac/">The Swanky Sack</a>

		</div>
		<!-- Copyright -->


		<div class="container">
			<div class="row justify-content-end">
				<div class="col-auto">
					<a href="#" class="text-dark">Retour en haut
						<i class="fa fa-arrow-up fa-2x"></i>
					</a>
				</div>
			</div>
		</div>
	</div>

</footer>
