{% extends 'base.html.twig' %}

{% block title %}Mon panier
{% endblock %}

{% block body %}
	<div
		class="container" style="margin-top: 70px  w3-center">
		{#  <a href="{{ path('products') }}" class="btn btn-primary">Continuer mes achats</a>
																														 #}
		<div class="row">
			<div class="col-md-8 mt-5">
				<div class="row">
					<div class="col-md-6">
						{% if cart is empty %}
							{% if is_granted("ROLE_USER") or is_granted("ROLE_ADMIN") %}
								<p>Vous n'avez pas encore ajouté de
									<a href="{{ path('products') }}">
										<span style='color:teal'>sac
										</span>
									</a>à votre panier.</p>
								<br/><br/>

								<a href="{{ path('products') }}" class="btn w3-btn  btn-teal">Allez à la boutique</a>

							{% else %}
								<div>
									<p>Vous n'avez pas encore ajouté de produit à votre panier.</p>
									<a href="{{ path('app_login') }}" class="btn btn-primary">Connecter-vous à votre compte</a>
									<a href="{{ path('inscription') }}" class="btn btn-secondary">Inscrivez-vous maintenant</a>
								</div>
							{% endif %}
						{% endif %}
					</div>
				</div>

				{% if cart %}
					<h1 style="auto">Mon panier</h1>
					<table class="w3-table w3-bordered w3-center">
						<thead>
							<tr>
								<th scope="col">Produit</th>
								<th scope="col"></th>
								<th scope="col">Quantité</th>
								<th scope="col">Prix</th>
								<th scope="col">Total</th>
								<th scope="col"></th>
							</tr>
						</thead>
						<tbody>
							{% set total = null %}
							{# on initialise la variable total à null #}

							{% for product in cart %}
								<tr>
									<td><img src="{{ asset('uploads/' ~ product.product.illustration) }}" alt="{{ product.product.name }}" height="75px"></td>
									<td>{{ product.product.name }}
										<br/><small>{{ product.product.subtitle }}</small>
									</td>
									<td class="justify-content-center">
										<div class="btn-toolbar my-md-auto" role="toolbar" aria-label="Toolbar with button groups">
											<div class="btn-group" role="group" aria-label="First group">
												<div class="bg-light my-auto">
													<a class="btn btn-light" href="{{ path('decrease_to_cart', {'id': product.product.id}) }}">
														<i class="fa-solid fa-circle-minus"></i>
													</a>
												</div>
												<div class="my-auto p-2">
													<span>x{{ product.quantity }}</span>
												</div>
												<div class="bg-light my-auto">
													<a class="btn btn-light" href="{{ path('add_to_cart', {'id': product.product.id}) }}">
														<i class="fa-solid fa-circle-plus"></i>
													</a>


												</div>
											</div>
										</div>
									</td>
									<td>{{ product.product.price / 100 | number_format(2, '.', '.') }}
										€</td>
									<td>{{ (product.product.price * product.quantity / 100) | number_format(2, '.', '.') }}
										€</td>
									<td>
										<a href="{{ path('delete_to_cart', {'id': product.product.id}) }}" class="text-danger">
											<i class="fas fa-trash"></i>
										</a>
									</td>
								</tr>
								{% set total = total + (product.product.price * product.quantity) %}
								{# on ajoute le prix du produit multiplié par la quantité à la variable total #}
							{% endfor %}
						</tbody>
					</table>

					<div class="float-end mt-5">
						<b>Nombre de sacs :
						</b>
						{{ cart|length }}<br>
						<b>Total :
						</b>
						{{ total / 100 | number_format(2, '.', '.') }}
						€<br>
						<a href="{{ path('order') }}" class=" w3-btn w3-teal  mt-5">Valider mon panier</a>
					</div>
				{% endif %}
			</div>
		</div>
	</div>

{% endblock %}
