{% extends 'base.html.twig' %}
{% block title %}The Swanky Sack
{% endblock %}

{% block body %}
	<div class="container mt-5 w-50 mx-auto text-dark">
		<h1 class="mb-4">Mon compte The Swanky Sack</h1>

		<div class="alert bg-dark text-white" role="alert">
			Bienvenu
			<strong>{{ app.user.firstname }}
				{{ app.user.lastname }}</strong>
			dans votre espace membre.<br>
			Vous pouvez modifier vos informations personnelles en cliquant sur le bouton ci-dessous.
			<a class="text-primary" href="{{ path('app_logout') }}">Déconnexion</a>
		</div>

		<hr class="my-4">

		<div class="row">
			<div class="col">
				<a href="{{ path('account_password') }}" class="btn btn-white">Modifier mon mot de passe</a>
			</div>
			<div class="col">
				<a href="{{ path('account_address') }}" class="btn btn-white">Gérer mes adresses</a>
			</div>
			<div class="col">
				<a href="{{ path('account_order') }}" class="btn btn-white">Mes commandes</a>
			</div>
		</div>

		<hr class="my-4">
	</div>
{% endblock %}
