{# {% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe : The Swanky Sac{% endblock %}

{% block body %}
    <div class="container" style="margin-top: 100px">
        <h1>Modifier mon mot de passe</h1>

        <hr>
        <a href="{{ path('app_account') }}">Retourner à mon compte</a><br>
        <hr>

        {% if app.flashes('success') is defined %}
            {% for message in app.flashes('success') %}
                <div class="alert alert-success alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% elseif app.flashes('danger') is defined %}
            {% for message in app.flashes('danger') %}
                <div class="alert alert-warning alert-dismissible fade show" role="alert">
                    <strong>{{ message }}</strong>
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}
        {% endif %}

        {{ form(form) }}
    </div>
{% endblock %} #}


{% extends 'base.html.twig' %}

{% block title %}Modifier mon mot de passe : The Swanky Sack
{% endblock %}

{% block body %}
	<div class="container mt-5 w-50 mx-auto text-dark">
		<h1 class="mb-4">Modifier mon mot de passe</h1>

		{# <hr class="my-4"> #}

		<a href="{{ path('app_account') }}" class=" w3-btn w3-teal">Retourner à mon compte</a>


		<hr class="my-4">

		{% if app.flashes('success') is defined %}
			{% for message in app.flashes('success') %}
				<div class="alert bg-dark text-white" role="alert">
					<strong>{{ message }}</strong>
				</div>
			{% endfor %}
		{% elseif app.flashes('danger') is defined %}
			{% for message in app.flashes('danger') %}
				<div class="alert bg-dark text-white" role="alert">
					<strong>{{ message }}</strong>
				</div>
			{% endfor %}
		{% endif %}

		{{ form(form) }}
		</div>
	{% endblock %}
